body {
  background-image: url("../img/backgroundImage.jpg");
  background-size: cover; }
  body #wrapper {
    width: 80%;
    margin: 30px auto;
    font-family: Tahoma, Helvetica, sans-serif; }
    body #wrapper .page-header {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      border-bottom: 2px solid #b4956d; }
      body #wrapper .page-header h1 {
        margin: 3px;
        font-size: 50px;
        font-weight: normal;
        color: white; }
    body #wrapper main {
      width: 70%;
      margin: 10px auto;
      display: flex;
      justify-content: space-around; }
      body #wrapper main .form-container {
        width: 350px;
        height: 295px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: rgba(98, 21, 13, 0.7);
        border-radius: 15px;
        text-align: center; }
        body #wrapper main .form-container header {
          padding: 5px; }
          body #wrapper main .form-container header h3 {
            margin: 10px 0;
            font-size: 28px;
            font-weight: normal;
            color: #bf9a7d; }
        body #wrapper main .form-container label {
          margin-top: 1px;
          padding: 11px 12px 15px 15px;
          background-color: #5b3725;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; }
        body #wrapper main .form-container input {
          width: 75%;
          height: 46px;
          margin-bottom: 10px;
          padding: 10px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
        body #wrapper main .form-container input:focus {
          border: 1px solid #6997c7;
          box-shadow: 1px 1px 5px aqua; }
        body #wrapper main .form-container button {
          width: 88%;
          height: 46px;
          margin: 0 auto 10px;
          display: block;
          border: none;
          border-radius: 6px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 16px;
          font-family: Tahoma, Helvetica, sans-serif;
          color: #deb580;
          background-color: #399262;
          opacity: 0.8; }
          body #wrapper main .form-container button:hover {
            background-color: #4a5a08;
            cursor: pointer; }

