form {
    width: 45%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff7f0;
    font-family: Arial, sans-serif;
}

fieldset {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: none;
}

fieldset > input, label {
    width: 80%;
    margin: 0 auto;
}

fieldset > label {
    font-size: 20px;
}

fieldset > input {
    height: 25px;
}

fieldset > legend {
    margin-bottom: 35px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.date-container, #invoice-details  {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.date-container > label, #invoice-details > label {
    width: 100%;
    font-size: 20px;
}

.date-container > input[type='date'] {
    width: 70%;
}

#invoice-details > input {
    height: 25px;
}

.checkbox-container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.checkbox-container > input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.checkbox-container > label {
    font-size: 19px;
}

.button-container {
    width: 84%;
    margin: 0 auto;
    padding-left: 10px;
    box-sizing: border-box;
}

.button-container > button {
    height: 28px;
    font-size: 20px;
}

.button-container > button[type='submit'] {
    width: 62%;
}

.button-container > button[type='reset'] {
    width: 36%;
}

sup {
    color: red;
}