@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: local('Oleo Script'), local('OleoScript-Regular'), url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    margin: 0;
    padding: 0;

    #wrapper {
        width: 1000px;
        margin: 0 auto;
        background-color: #50247d;
        font-size: 12px;
        font-family: Calibri, Arial, sans-serif;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .page-header {
            width: 85%;
            height: 250px;
            margin: 0 auto;
            padding: 20px 0;
            background-image: url('../img/orion-gas-and-star-bgr.jpg');
            border-bottom: 10px solid #359dce;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            color: white;

            h1 {
                margin: 0;
                padding-bottom: 0;
                font-family: 'Oleo Script';
                font-size: 68px;
            }

            .slogan {
                font-size: 18px;
                margin-bottom: 25px;
            }

            nav {
                width: 75%;
                margin: 0 auto;

                ul {
                    display: flex;
                    justify-content: center;
                    list-style: none;

                    li {
                        width: 15%;
                        margin-right: 10px;
                        padding: 10px;
                        background-color: white;
                        font-size: 18px;
                        font-weight: bold;
                        color: #50247d;

                        &:hover {
                            background-color: #359dce;
                            color: white;
                            cursor: pointer;
                        }
                    }

                    li:nth-child(3) {
                        width: 20%;
                    }
                }
            }
        }

        main {
            width: 85%;
            margin: 30px auto;
            padding: 30px 25px;
            display: flex;
            background-color: #eae7ee;
            border-top: 10px solid #865ab3;
            border-bottom: 10px solid #359dce;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            section {
                width: 49%;

                .right-align {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .read-more {
                        padding: 7px 12px;
                        background-color: #359dce;
                        color: white;
                    }
                }

                .section-header {
                    margin-bottom: 25px;
                    margin-left: 30px;

                    h2 {
                        margin: 0;
                        font-size: 48px;
                        font-family: 'Oleo Script';
                    }

                    .subtitle {
                        font-size: 26px;
                    }
                }
            }

            .left {
                background: white;

                article {
                    margin-left: 30px;
                    margin-right: 30px;
                    margin-bottom: 20px;

                    span {
                        font-weight: 500;
                        font-style: italic;
                        font-family: 'Oleo Script';
                    }
                }

                footer {
                    padding: 7px 18px;
                    background-color: #865ab3;
                    color: white;

                    &:hover {
                        background-color: #4f237a;
                        cursor: pointer;
                    }
                }
            }

            .right {
                margin-left: 15px;
                display: flex;
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                justify-content: space-around;

                article {
                    width: 48%;
                    margin-bottom: 10px;

                    .content {
                        background-color: white;
                        padding: 5px 10px 15px 15px;

                        h3 {
                            margin: 5px 0;
                            color: #359dce;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .img-container {
                        height: 140px;
                    }

                    #top-left {
                        background-image: url('../img/02-pic1.jpg');
                    }

                    #top-right {
                        background-image: url('../img/02-pic2.jpg');
                    }

                    #bottom-left {
                        background-image: url('../img/02-pic3.jpg');
                    }

                    #bottom-right {
                        background-image: url('../img/02-pic4.jpg');
                    }
                }
            }
        }

        .page-footer {
            width: 85%;
            margin: 0 auto;
            padding-bottom: 25px;
            color: white;
        }
    }
}
