body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 108%;
  margin-left: 30px;
}

h1 {
  color: #ecc65d;
  font-size: 45px;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  color: white;
}

img#foundation {
  width: 248px;
  height: 80px;
  margin-top: -100px;
  float: right;
}

ul {
  list-style-type: square;
  color: #ecc65d;
  font-size: 23px;
}

.example {
  width: 93%;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  background:rgba(77, 77, 77, 0.3);
}

.example > p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

h2 > .tag {
  color: #ecc65d;
  font-weight: bold;
  font-size: 32px;
}

h2 > .dash {
  font-weight: bold;
  color: white;
}

#pageNumber {
  position: relative;
  width: 100%;
  height: 20px;
  text-align: right;
  top: 10px;
  right: 15px;
  bottom: 15px;
  color: white;
  font-size: 18px;
}
