<div id="hero-detailed" class="row">
    <div class="col-md-4">
        <img src="imgs/{{class.name}}.png" alt="hero-image" class="hero-image"/><br>

        <h2>{{name}}</h2>

        <p>
            Attack points: {{attackPoints}}
        </p>

        <p>
            Defense points: {{defensePoints}}
        </p>

        <p>
            Life: {{lifePoints}}
        </p>
        <p>
            <a href="#/heroes/{{_id}}/store" class="btn btn-md btn-default">Store</a>
        </p>
    </div>
    <div class="col-md-8">
        <div class="row">
            {{#items}}
            <div class="col-md-3">
                <h4 class="item-type">{{type.name}}</h4>
                <span class="item-name">{{name}}</span>

                <p>
                    Attack points: {{attack-points}}
                </p>

                <p>
                    Defense points: {{defense-points}}
                </p>

                <p>
                    Life points: {{life-points}}
                </p>
            </div>
            {{/items}}
        </div>
    </div>
</div>