* {
	margin: 0;
	padding: 0;
}

#wrapper {
	background-color: #ffc0cb;
	border-radius: 10px;
	padding: 25px;
	margin: 15px;
	font-family: Tahoma;
  font-size: 20px;
}

#site-header {
	text-align: center;
	margin-bottom: 15px;
}

section {
	display: inline-block;
	vertical-align: top;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

#kent {
	margin-right: 5px;
}

img {
	width: 280px;
	height: 240px;
}

meter {
	width: 240px; height: 25px;
}

audio {
	display: block;
	width: 360px;
	margin-bottom: 4px;
	margin-top: 4px;
}

#audioFiles {
	width: 360px;
	margin-right: 5px;
}

video {
	width: 520px;
	height:290px;
}

#black {
    width:360px;
    height: 184px;
    background: black;
}

div > audio {
	padding-top: 35px;
}
